<div class="block-7 space-between-blocks">
  <div class="container">
    <!-- HEADER -->
    <div class="col-lg-8 col-xl-7 mx-auto text-center mb-5">
      <h1 class="block__title mb-3">Quienes somos</h1>
      <p class="block__paragraph mb-0">Una empresa maravillosa</p>
    </div>
    <div class="row px-2 align-items-center flex-lg-row justify-content-center">
      <!-- IMAGE -->
      <div class="col-lg-5 my-5 text-center"><img src="https://frontendor-files.netlify.app/images/feature-03@2x.png" class="w-100"></div><!-- RIGHT CONTENT -->
      <div class="col-lg-4">
        <div class="card-2 d-flex">
          <div><span class="card-2__symbol mx-auto"><i class="fas fa-globe"></i></span></div>
          <div class="px-2"></div>
        </div>
    </div>
  </div>
</div>